:root {
    --pink: hsl(0, 36%, 70%);
    --red: hsl(0, 93%, 68%);
    --gray: hsl(0, 6%, 24%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
    background-image: linear-gradient(to bottom, white, hsla(0, 100%, 98%, .1));
}

.card {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 100vh;

}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}

.model {
    height: 100vh;
    width: auto;
    object-fit: cover;
}

/*
.card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 100vh;
}

.model{
    display: flex;
    justify-content: right;
    align-items: right;
    height: 100vh;
    width: auto;
    object-fit: cover;
    float: right;
}

.main-text {
    max-width: 100%;
    width: 55%;
    margin: 90px 0px 0px 330px;
    height: 100%;
}

.logo {
    margin: 0px 0px 170px 0px;
    
}


h1 {
    font-size: 4rem;
    letter-spacing: 20px;
}

.first-part {
    color: var(--pink);
    font-weight: 200;
    padding-bottom: 5px;
}

.second-part {
    color: var(--gray);
    font-weight: 600;
    padding-bottom: 20px; 
}

.hello-message {
    color: var(--pink);
    line-height: 27px;
    padding-bottom: 40px;
    margin-right: 210px;
    word-spacing: 1px;
}

input {
    padding: 15px 30px 17px 30px;
    border-radius: 50px;
    border: 2px solid hsla(0, 36%, 70%, .5);
    max-width: 63%;
    width: 63%;
    background-color: transparent;
    outline: none;
    font-family: "Josefin Sans", sans-serif;
}

::placeholder {
    color: hsla(0, 36%, 70%, .4);
    font-weight: 600;
}

button {
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    padding: 13px 40px;
    border-radius: 50px;
    position: absolute;
    transform: translate(340px, 0px);
}

button:active {
    background-image: radial-gradient(circle, hsl(0, 80%, 86%),hsla(0, 74%, 74%, .2));
}

.error {
    display: none;
    font-weight: 400;
    font-size: .8rem;
    margin: 10px auto auto 30px;
    color: var(--red);
}

.input-container {
    display: flex;
}

.error-icon {
    transform: translate(-120px, 11px)
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .card {
        flex-direction: column;
   }
   
    .model {
        height: auto;
   }

   .logo {
        margin: 20px 10px;
        transform: scale(.7);
        

   }

   

   
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
/*