:root {
    --pink: hsl(0, 36%, 70%);
    --red: hsl(0, 93%, 68%);
    --gray: hsl(0, 6%, 24%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    font-family: "Josefin Sans", sans-serif;
    overflow: hidden;
}

.main-card {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.text-container {
    background-image: url("./images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 90%;
    height: 100vh;
    padding: 8rem 18.5rem;
}

.logo-container img {
    padding-top: 3rem;
    padding-bottom: 5rem;
    object-fit: cover;
}

.desktop-model-img-container {
    width: auto;
    height: 100vh;

}

.desktop-model-img-container img {
    object-fit: fill;
    height: 100vh;
}

.mobile-model-img-container img {
    display: none;
}

.mobile-logo-container img {
    display: none;
}

h1 {
    font-size: 4rem;
    letter-spacing: 20px;
}

.first-part {
    color: var(--pink);
    font-weight: 200;
    padding-bottom: 5px;
}

.second-part {
    color: var(--gray);
    font-weight: 600;
    padding-bottom: 30px; 
}

.hello-message {
    color: var(--pink);
    line-height: 27px;
    padding-bottom: 40px;
    margin-right: 160px;
    word-spacing: 1px;
}

input {
    padding: 15px 30px 17px 30px;
    border-radius: 50px;
    border: 1.5px solid hsla(0, 36%, 70%, .5);
    max-width: 100%;
    width: 63%;
    background-color: transparent;
    outline: none;
    font-family: "Josefin Sans", sans-serif;
}

::placeholder {
    color: hsla(0, 36%, 70%, .4);
    font-weight: 600;
}

button {
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%),hsl(0, 74%, 74%));
    padding: 13px 40px;
    border-radius: 50px;
    position: absolute;
    transform: translate(340px, 0px);
    cursor: pointer;
    
}

button:active {
    background-image: radial-gradient(circle, hsl(0, 80%, 86%),hsla(0, 74%, 74%, .2));
}

.error {
    display: none;
    font-weight: 400;
    font-size: .8rem;
    margin: 10px auto auto 30px;
    color: var(--red);
}

.input-container {
    display: flex;
}

.error-icon {
    display: none;
    transform: translate(-80px, 10px)
}


@media screen and (max-width: 1368px){

    .text-container {
        padding: 0rem 2.5rem;
    }

    .logo-container img {
        padding-bottom: 2.8rem;
    }

    input {
        width: 90%;
    }

    .hello-message {
        margin-right: 112px;
    }

    button {
        transform: translate(350px, 0px)
    }

    .error-icon {
        transform: translate(-130px, 10px);
    }


}

@media screen and (max-width: 932px) {
    body {
        overflow: auto;
    }

   .logo-container img {
        display: none;
   }

   .desktop-model-img-container {
        display: none;
   }

   .mobile-logo-container img {
        display: block;
        padding: 25px 0px 25px 15px;
        transform: scale(.7);
   }

   .mobile-model-img-container img{
        display: block;
   }

   .main-card {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
   }

   .text-container {
        background-image: linear-gradient(150deg, #FFF 0%, #FFF4F4 84.51%);
        background-size: cover;
        width: 100%;
        height: 100%;
        padding:  4rem 1.5rem;
        text-align: center;
   }
   
   h1 {
    font-size: 2.5rem;
    letter-spacing: 12px;
   }

   .first-part {
        font-weight: 300;
   }

   .second-part {
        padding-bottom: 20px;
   }

   .hello-message {
        margin-right: 0px;
        font-size: .9rem;
        padding-bottom: 25px;
   }

   input {
        width: 100%;
   }

   button {
    transform: translate(270px, 0px);
    padding: 13px 30px;
   }

   .error {
    float: left;
   }
}

